{% extends 'citas_medicas_api/base.html' %}
{% block title %}Pacientes{% endblock %}
{% block content %}
<h2>Pacientes</h2>
<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="rut" placeholder="Filtrar por RUT" class="form-control" value="{{ request.GET.rut }}">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Acciones</th>
</tr>
{% for paciente in pacientes %}
<tr>
    <td>{{ paciente.id }}</td>
    <td>{{ paciente.nombre }}</td>
    <td>{{ paciente.apellido }}</td>
    <td>
        <a class="btn btn-primary btn-sm" href="#">Editar</a>
        <a class="btn btn-danger btn-sm" href="#">Eliminar</a>
    </td>
</tr>
{% endfor %}
</table>
<a class="btn btn-success" href="{% url 'paciente-create' %}">Crear Paciente</a>
{% endblock %}
